.cat-item {
  text-decoration: none;
  display: block;
  background-color: #f9f9f9;
  border: 2px solid transparent;
  position: relative;
  transition: transform 0.3s ease;
}

.cat-item.glowing-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgba(0, 255, 0, 0.75);
  border-radius: 8px; /* Match the border-radius of your elements */
  animation: glowing-border-animation 1.5s infinite;
  z-index: -1;
}
.text-primary {
  color: #28a745; /* Green color */
}

.btn-primary {
  background-color: #28a745; /* Green color */
  border-color: #28a745;
}

.cat-item.glowing-border:hover {
  transform: translateY(-10px);
}

@keyframes glowing-border-animation {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.75);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }
}
